<h1>General Feed</h1>

<ul>
<% @pokemons.shuffle.each do |poke| %>
    <li><%= poke.name %> </li>
    <%#if @imgs.include?(poke.name.downcase) %>
        <%= image_tag(poke.name.downcase) %>
    <%# end%>
<% end%>
</ul>